* {
    box-sizing: border-box;
    font-family: "Transcity", sans-serif;
    font-weight: 300;
    --off-white: #FAF9F650;
    --orange: rgb(173, 72, 0);
    --yellow: rgb(255, 199, 94, 0.8);
    --light-yellow: rgb(255, 235, 172, 0.8);
}

@font-face {
    font-family: "Transcity";
    src: url("./assets/Transcity\ DEMO.otf");
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
}

#frame {
    opacity: 0;
    position: absolute;
    transform: translate(-20%, 130%) scale(0.75);
    transition: all 1.25s ease-in-out;
    z-index: 2;
}
  
.loading-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    z-index: -1;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50vw, 50vh) translate(-50%, -50%) scale(1); 
    transition: all 1s ease-in-out;

    z-index: 2;
}

/* Form */
#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    opacity: 0;
    align-self: center;
    border: 5px solid var(--orange);
    border-radius: 15px;
    padding: 15px;
    height: 95vh;
    width: 99vw;
    color: var(--orange);
    background-color: var(--light-yellow);
    margin: 0 auto;
    transition: all 1s ease-in-out;

    z-index: 0;
}

h1 {
    font-size: 5rem;
    margin-bottom: -35px;
    margin-top: -50px;
}

#grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;

    width: 70vw;
    height: 40vh;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12.5vw;
    height: 45vh;
    gap: 15px;

    background-color: var(--yellow);
    border: 5px solid var(--orange);
    border-radius: 15px;
    
    overflow: hidden;
}

#add-btn {
    background-color: var(--orange);
    border: 5px solid var(--yellow);
    color: var(--yellow);
    font-size: 2rem;
    order: 1;
}

/* Book Details */
.title, .author {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--light-yellow);
    border: 4px solid var(--orange);
    border-radius: 15px;

    color: var(--orange);
    font-size: 1.75rem;
    text-align: center;
}

.title {
    width: 80%;
    height: 30%;
    margin-top: 50px;

    font-size: 2rem;
}

.author {
    width: 80%;
    height: 15%;
}

p {
    margin-top: -7px;
    font-size: 0.75rem;
    font-weight: 700;
    color: black;
    text-align: center;
}

.readStatus {
    align-self: flex-end;
    width: 100%;
    height: 12.5%;
    margin-top: auto;

    border: none;
    border-top: 5px solid var(--orange);
}

.readStatus:hover {
    cursor: pointer;
}

.unread {
    display: flex;
    color: #6b6b6b;
    background: linear-gradient(90deg, #d3d3d3 0%, #a9a9a9 100%);
    font-size: 1.75rem;
    text-align: left;
}

.unread::before {
    content: "Unread";
    align-self: center;
    margin-left: 10px;
}

.read {
    display: flex;
    color: #6b6b6b;
    background: linear-gradient(90deg, #d4edda, #a8e6cf);
    font-size: 1.75rem;
    text-align: left;
}

.read::before {
    content: "Read";
    align-self: center;
    margin-left: 10px;
}